.promo-banner {
    flex: 1;
    background-color: theme-color("section-bg");
    border-radius: $border-radius-xxlg;
    overflow: hidden;
    position: relative;
    text-shadow: 2px 2px #000000;
    box-shadow: $card-box-shadow;

    // css + selector - когато имаме повече от един елемент
    + .promo-banner {
        margin-left: $grid-gutter-width;
    }

    .banner-info {
        position: absolute;
        padding: 2rem;
        height: 100%;
        width: 40%;
    }

    .promo-title {
        font-size: $font-size-lg;
        font-weight: $font-weight-bold;
        color: color-yiq(theme-color("dark")); // създава автоматичен контрастен цвят, на този, който сме подали
    }

    .promo-description {
        color: rgba(color-yiq(theme-color("dark")), .8);
    }

    .promo-button {
        @include gradient-x(theme-color("primary-dark"), theme-color("primary"), 0%, 100%);
        color: color-yiq(theme-color("primary-dark"));

        &:hover {
            @include gradient-x(lighten(theme-color("primary-dark"), 3%), lighten(theme-color("primary"), 3%), 0%, 100%);
        }
    }
}