// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Customize Bootstrap Variables
@import "./variables";


// Import custom font from Google
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap&subset=cyrillic');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/regular";

// Load Bootstrap
@import "~bootstrap/scss/bootstrap";


// // Bootstrap components override
@import "bootstrap-components/navbar";
@import "bootstrap-components/card";


// Custom components
@import "components/layout";
@import "components/video-container";
@import "components/event-board";
@import "components/promo-banner";
@import "components/product-card";