$fa-font-path: "~font-awesome/fonts";


$body-bg: #efefef;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1240px
);

$theme-colors: (
    "primary": #fa991c,
    "primary-dark": #c97c18,
    "action": #ffd900,
    "secondary": #687b86,
    "action-secondary": #ff8f2b,
    "dark-overlay": #292d29,
    "title": #666666,
    "border-light": #e6e6e6,
    "border-ultra-light": #f1f1f1,
    "section-bg": #ffffff,
    "white": #ffffff,
);

$grid-gutter-width: 20px; // хубаво е тук да е в px, за да ако потребителя си променя шрифта, това да не промени разстоянието между елементите

// Font weight
$font-weight-semibold: 600;

// Font sizes
$font-size-sm: 0.75rem;
$font-size-md: 0.875rem;
$font-size-mlg: 1rem;
$font-size-lg: 1.25rem;
$font-size-xlg: 1.5rem;
$font-size-xxlg: 2rem;

// Override fonts
$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Border ragius
$border-radius-xlg: .5rem;
$border-radius-xxlg: 1rem;


// Buttons
$btn-border-radius: 10rem;
$btn-padding-x: 1.25rem;


// Components
$card-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);

// Card
$card-spacer-y: .75rem;
$card-spacer-x: .75rem;
$card-border-color: transparent;
$card-border-radius: .25rem;